.footer {
  float: left;
  width: calc(100%);
  padding: 100px 10px 200px 10px;
  text-align: center;
  background: #f7f7f7;
  padding-top: 120px;
  overflow:hidden;
  /*background-image: url(/img/mars-grid.jpg);*/
}

.footer .copyright {
  color:#a8a8a8;
  font-size:18px;
  margin-bottom: 20px;
}

.footer .links {
  color:#a8a8a8;
}

.footer .links a,
.footer .social a {
  text-decoration:none;
  color:#4c4c54;
  margin:0 5px;
  font-size:16px;
}

.footer .social {
  margin-top:15px;
}

.footer .social i {
  margin:0 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
