<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="UTF-8">
<meta name="description" content="L.A. native Kevin Litrow's LITRONIX is a music machine inventing irresistible futuristic pop songs. He infuses warm analog electronic synthesizers, organic guitars, multi-layered loops, and boxed beats.">
<meta name="keywords" content="Litronix, music">
<meta name="author" content="Avojeez0">
<title>Litronix</title>
<style>
@font-face {
    font-family: Rubik;
    src: url(/fonts/Rubik/Rubik-Light.ttf);
}
@font-face {
    font-family: Source Code Pro;
    src: url(/fonts/Source_Code_Pro/SourceCodePro-Light.ttf);
}
</style>
<script src='/dist/src/build.js' type='text/javascript'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
</head>
<body>
  <div id='app-target'></div>
</body>
