.native-image {
  width: calc(20% - 20px);
  height: 0;
  padding-bottom: calc(20% - 20px);
  display: inline-block;
  margin: 10px;
  background-size: cover;
}

.native-image[data-is-loading="true"] {
  background: #171717;
}

.native-image:hover {
  border: solid thin white;
  width: calc(20% - 22px);
  padding-bottom: calc(20% - 22px);
  cursor: pointer;
}

.native-image .img {
  width: 100%;
  display: inline-block;
  max-width: 100%;
  padding-bottom: 100%;
  background-size: cover;
}
