.Tour-Controller .tour-main-container {
  /*padding: 20px;*/
  /*font-family: times;*/
}

.Tour-Controller .tour-dates-container {
  /*padding: 20px;*/
  /*width: calc(100% - 40px);*/
}

.Tour-Controller .tour-banner {
  width: 100%;
  margin-bottom: 20px;
  max-height: 350px;
  background-size: cover;
  background-image: url(/img/photos/offbeat.jpg);
  height: 350px;
  clear: both;
  background-position: 0 23%;
}

.Tour-Controller .empty-message {
  font-size: 20px;
  text-align: center;
  padding: 100px 0;
  color: #bdbdbd;
}
